*{
    margin: 0px;
}
.name{
    color: rgb(255, 0, 0);
    
font-size: xx-large;
    padding-left: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: brown;
    background: linear-gradient(rgb(255, 255, 255),rgb(3, 255, 247))
}
.company{
    margin-top: 40px;
    text-align: center;
    border-style: ridge;
    border-color: rgb(82, 27, 27);
    display: inline-block;
    border-width: 3px;width: 490;height:259px ;
  
}
.shop{
    margin-top: 30px;
    padding-right: 10px;
    color: rgba(6, 15, 137, 0.954);
    text-align: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
 .temper{
    margin-top: 20px;
    
display: inline;
margin-left: 200px;

}
.air{
    margin-top: 20px;
  display: inline;
  margin-left: 120px;
}
.charging{
    
    display: inline;
    margin-left: 120px;
}
.next{
    text-align: center;
    margin-top: 20px;
    font-size: xx-large;
    color: black;
}
.next{
    cursor: pointer;
    
}
.gang{
    margin-top: 20px;
}



